:root {
  --carousel-slide-width: 480px;
  --carousel-slide-padding-ratio: 2; /* larger numbers create less padding */
  --carousel-slide-aspect-ratio: calc(9/16);
  --starting-carousel-slide-offset: calc(var(--carousel-slide-width) / calc(var(--carousel-slide-padding-ratio) * 2));
}

body {
  background-color: rebeccapurple;
}

img {
  width: var(--carousel-slide-width);
  height: calc(var(--carousel-slide-width) * var(--carousel-slide-aspect-ratio));
}

.carousel-div-frame {
  width: calc(var(--carousel-slide-width) + calc(var(--carousel-slide-width) / var(--carousel-slide-padding-ratio)));
  height: calc(var(--carousel-slide-width) * var(--carousel-slide-aspect-ratio));
  position: relative;
  overflow-x: hidden;
}

.carousel-div-wide {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  width: calc((var(--carousel-slide-width)) * var(--number-of-slides));
  position: absolute;
  left: calc(var(--starting-carousel-slide-offset) + var(--additional-offset));
}

.carousel-nav {
  bottom: -50px;
  width: calc(var(--carousel-slide-width) + calc(var(--carousel-slide-width) / var(--carousel-slide-padding-ratio)));
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.carousel-arrows {
  position: absolute;
  bottom: 40%;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: calc(calc(var(--carousel-slide-width) + 
  calc(var(--carousel-slide-width) / 
  var(--carousel-slide-padding-ratio)))/1.2);
  opacity: 60%;
}

.prev-slide-button,
.next-slide-button {
  width: calc(var(--carousel-slide-width) / 12);
  height: calc(var(--carousel-slide-width) / 12);
  border-radius: 50%;
}

.slide-button {
  width: calc(var(--carousel-slide-width) / 18);
  height: calc(var(--carousel-slide-width) / 18);
  border-radius: 50%;
}

.active {
  opacity: 20%;
}